<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif ;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;

  }
</style>


<div class="message-content">
  <p>Hello, {{name}}</p>
  <p>Someone has requested a link to change your password. You can do this through the button below </p>
  <p>
    <a href="{{link}}">Reset your password</a>
  </p>
  <p>If you didn't request this, please ignore this email. Your password will stay safe and won't be changed.</p>
  <p>Thanks!<br/> <strong>Gobarber team</strong></p>
</div>
