<strong>Olá, {{provider }}</strong>
<p>Houver um cancelamento de horario, confira os detalhes abaixo</p>
<p>
  <strong>Cliente:</strong>{{user}} <br/>
  <strong>Data/Hora:</strong>{{date}}  <br/>
  <small>
    O horario esta novamente disponivel para novos agendamentos.
  </small>
</p>
